<h2>Our Vets</h2>

<%= link_to 'Add a new vet', new_vet_path, class: 'btn btn-default' %>


<ul>
  <% @vets.each do |vet| %>
    <li>
      <h4><a href="/vets/<%= vet.id %>">
        <%= vet.name %>
      </a></h4>
    </li>
  <% end %>
</ul>
