<h2>Vets in Our Practice</h2>

<h3><%= link_to 'Add a new vet', new_user_path %></h3>

<ul>
  <% @users.each do |user| %>
    <li>
      <a href="/users/<%= user.id %>">
        <%= user.name %>
      </a>
    </li>
  <% end %>
</ul>
